@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
  scrollbar-color: #d1d5db white;
}

.swiper-pagination-bullet-active {
  background-color: #fff !important;
}

.swiper-pagination-bullets {
  justify-content: center;
  display: flex;
  padding: 6px 12px;
}

@layer base {
  button,
  a {
    @apply focus-visible:focus-ring;
  }

  .focus-ring {
    @apply outline-none ring-2 ring-ring ring-offset-2 ring-offset-white;
  }
}
